<%- include('./partials/head') -%>
<%- include('./partials/navv') -%>
    
</head>
<body>
    <h1>Categorias</h1>
  <br>

  <div class="container">
    <div class="row align-items-start">
        <div class="col">
          
        </div>
        <div class="col">
          
        </div>
        <div class="col">
          
          <div class="row">
            <div class="col">
                
                <br>
                <br>
                <div class="input-group mb-4">
                  
                    <input type="text" id="formulario" class="form-control" placeholder="Buscar..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary bg-primary text-white" id="boton"><i class="fas fa-search "></i></button>
                    </div>
                  </div>
            </div>
        </div>
      </div>
  </div>
    
  <div class="container">

  </div>
<br>

  <div class="container">
      <div class="row">
        <div class="col-sm-4">
            <div class="col-9">
                <form action="/categorys/cate" method="POST">
                    <div class="card border-dark mb-3" style="max-width: 20rem;">
                      <div class="card-header"><h6 align="center">Agergar Departamento</h6></div>
                      <div class="card-body">
                        <div class="form-group">
                          <input type="text" name="category" autocomplete="off" placeholder="Departamento" size="15" class="validate">
                        </div>
                      </div>
                      <div class="form-group" style="text-align: right;width:130px">
                        <button type="submit" class="btn btn-primary" >Guardar</button>
                      </div>
                    </div>
                  </form>
            </div>
                  
    
          </div>
          <div class="table-responsive-sm">
            <table class="table table-bordered">
                <thead class="bg-dark text-white ">
                  <tr>
                      <th class="col">Name</th>
                      
                      <th>accion</th>
                  </tr>
                </thead>
        
                <tbody id="resultado">
                  
                  
                </tbody>
              </table>
          </div>
      </div>
  </div>
    
            
    
    

  <script
  src="https://code.jquery.com/jquery-3.4.1.slim.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/js/magic.js"></script>

<%- include('./partials/foot') -%>