<%- include('./partials/head') -%>
<%- include('./partials/navv') -%>

<div class="container-fluid">
   <form action="">
    <div class="row">
       
        <!--divicoon de 2 card-->
        <div class="w-100"></div>
        <!--Productos a granel-->
        <div class="col">
            <br>
            <div class="col">
              <!--Cliente-->
              
              <h5 align="center">Cliente</h5>
              <div class="col-sm">
                  <div class="card">
                    <div class="card-body">
                      <div class="form-group">
                          <div class="row">
                              <div class="col-sm">
                                  <div class="input-group mb-3">
                 
                                      <input type="text" id="busquedacliente" class="form-control" placeholder="Buscar..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                                      <div class="input-group-append">
                                        <button class="btn  bg-primary text-white" id="botonCliente" type="reset"><i class="fas fa-search "></i></button>
                                      </div>
                                    </div>
                              </div>
                              <div class="col-sm-0">
                                  <a href=""><Nav>N°</Nav></a>
                              </div>
                              <div class="col-sm-4">
                                  <a href=""><Nav>0000</Nav></a>
                              </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="row">
                              <div class="col-sm">
                                  <input type="text" class="form-control" id="inputCliente" placeholder="Nombre">
                              </div>
                              <div class="col-sm">
                                  <input type="text" class="form-control" id="inputCliente2" placeholder="Telefono">
                              </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              
          </div>
          
          <div class="w-100"></div>
          <!--Producto-->
          <div class="col">
              
              <h5 align="center">Producto</h5>
              <div class="col-sm">
                  <div class="card">
                    <div class="card-body">
                      <div class="form-group">
                          <div class="row">
                              <div class="col-sm">
                                <div class="input-group mb-2">
                 
                                  <input type="text" id="busquedaproducto" class="form-control" placeholder="Buscar..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                                  <div class="input-group-append">
                                    <button class="btn  bg-primary text-white" id="botonproducto" type="reset"><i class="fas fa-search "></i></button>
                                  </div>
                                </div>
                              </div>
                             
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="row"><div class="col"><p>Nombre</p></div>
                          <div class="col"><p>Precio</p></div><div class="col-sm-2.8"><p>    Cantidad</p></div></div>
                          <div class="row">
                            
                              <div class="col-sm">
                                  <input type="text" class="form-control" id="producto" placeholder="Nombre">
                              </div>
                              <div class="col-sm">
                                  
                                  <input type="number" class="form-control" id="precio" placeholder="Precio">
                              </div>
                             
                              
                              <div class="col-sm-2">
                                  <input type="" class="form-control" id="cantidad" placeholder="0">
                              </div>
                             
  
                             
                              
                             
                          </div>
                          <div class="col">
                            <br>
                            <button id="tiket" class="btn btn-primary  float-right" type="reset">agregar</button>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
        <!--ventas-->
        <div class="col">
            <br>
            <div class="col-sm">
            <div class="card">
              <div class="card-body">
                <div class="col-8">
                    <table class="table"  >
                      <thead>
                        <tr>
                          <th>Producto</th>
                          <th>Precio</th>
                          <th>Cantidad</th>
                          <th>Sub total</th>
                          <th>Eliminar</th>
                        </tr>
                      </thead>
                      <tbody id="venta_detalle">
                        
                        
                      </tbody>
                       <th colspan="2"></th>
                          <th>TOTAL:</th>
                          <th></th>
                    </table>
                    
                    <input type="number" class="form-control" id="total" placeholder="Precio">
                    <button class="btn btn-success float-right" (click)="guardar()">Cobrar</button>
                  </div>
              </div>
            </div>
          </div></div>
    </div>
   </form>
  </div>

  
  
  

  <script src="https://code.jquery.com/jquery-3.4.1.slim.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/js/Clienventa.js"></script>
  <script src="/js/productoventa.js"></script>
  <%- include('./partials/foot') -%>