<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moles y chocolates</title>
    <link rel="stylesheet" href="/src/public/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/1bfb22df9f.js" crossorigin="anonymous"></script>
</head>
<body>
    
