<link rel="stylesheet" href="/css/nav.css">
<header><span class="fas fa-bars show"></span></header>
<main>
  
  <div class="content-menu">
    <a href="https://cremeria.herokuapp.com/products/mostrar"><span class="fas fa-shopping-basket icon1"></span><p class="text1"> Ventas</p></a> >
    <li><span class="fas fa-boxes icon2"></span><p class="text2" href="https://cremeria.herokuapp.com/products/mostrar">Inventario</p></li>
    <li><span class="fas fa-id-card icon3"></span><p class="text3">Usuarios</p></li>
    <li><span class="fas fa-users icon4"></span><p class="text4">clientes</p></li> 
 
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/js/nav.js"></script>
